pipeline/CountofFiles.json
{
	"name": "CountofFiles",
	"properties": {
		"activities": [
			{
				"name": "CountFilemetadat",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DSCountFiles",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Countfiles",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CountFilemetadat",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Count",
					"value": {
						"value": "@String(length(activity('CountFilemetadat').output.childItems))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Count": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-02-01T10:25:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}